.BackShape {
    display: flex;
    flex-direction: row;

}



.ProfileCardDiv {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 1500px;
    height: 900px;

    float: left;
    margin-top: 300px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;



    .Profile {
        display: flex;
        flex-direction: row;
        margin: 50px;


        .avatar {
            background-color: lightblue;
            width: 358px;
            height: 358px;
            clip-path: circle(50% at 50% 50%);

        }

        .text {
            margin: 30px;
            line-height: 1;

            h1 {
                font-size: 5rem;
            }

        }


    }



    .AboutMe {
        margin: 0 auto;
        font-size: 2rem;
    }

}