@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap');





.BackShape {
    display: flex;
    flex-direction: row;

    margin: 50px 200px; //上下 / 左右
}



.ProfileCardDiv {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: rotate(-5deg);






    .Profile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: center;
        align-items: center;
        width: 100%;


        .avatar {
            width: 400px;
            display: flex;
            justify-content: center;
            margin-top: 50px;

            img {
                background-color: rgb(233, 230, 211);
                clip-path: circle(50% at 50% 50%);
                width: 300px;
                height: 300px;

            }

        }

        .text {
            margin: 10px;
            line-height: 1;

            h1 {
                font-size: 3rem;
            }

        }


    }







}

.AboutMe {
    width: 900px;
    height: 500px;
    margin-top: 20px;
    margin-left: -50px;
    line-height: 2;
    font-weight: bolder;
    font-size: 16px;
    padding-left: 100px;
    border-radius: 20px;

    .AboutMeText {

        .AboutTitle {
            background-color: white;
            border-radius: 50px;
            width: 300px;
            margin-left: -50px;

            h1 {
                text-align: center;
                /* 文本水平居中 */
                margin: auto;
                /* 垂直居中 */
            }
        }

        p {
            background-color: white;
            padding: 50px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        }
    }
}

.buttonDiv {
    display: flex;
    justify-content: right;
    width: 1200px;
    margin-top: 550px;
    margin-left: 50px;
    position: absolute;

    button {
        border-radius: 50%;
        border: none;
        width: 80px;
        height: 80px;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


        &:hover {
            background-color: rgb(162, 182, 162);

        }

        &:active {
            margin-top: 5px;
            background-color: rgb(119, 156, 119);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
        }
    }
}

.SkillDiv {
    width: 1000px;
    height: 500px;
    margin-top: 20px;
    margin-left: -100px;
    line-height: 2;
    font-weight: bolder;
    font-size: 16px;
    padding-left: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;


    .SkillCard {

        width: 700px;
        height: 400px;

        margin: 10px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: 1s;

        &:hover {

            margin-top: -20px;
        }

        &:nth-child(1) {


            h1 {

                border-bottom: 5px solid rgb(142, 187, 165);
            }

            border-bottom: 10px solid rgb(142, 187, 165);


        }

        &:nth-child(2) {

            border-bottom: 10px solid rgb(180, 233, 178);
        }

        &:nth-child(3) {

            border-bottom: 10px solid rgb(183, 204, 183);
        }
    }

}